In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
from scipy.constants import R
from openap import prop
from pprint import pprint

In [3]:
challenge_df = pd.read_csv('../data/challenge_set.csv')
df = pd.read_parquet('../data/2022-01-01.parquet')

In [4]:
challenge_df

,flight_id,date,callsign,adep,name_adep,country_code_adep,ades,name_ades,country_code_ades,actual_offblock_time,arrival_time,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248763780,2022-01-01,3840d84f25d3f5fcc0a1be3076bb4039,EGLL,London Heathrow,GB,EICK,Cork,IE,2022-01-01T13:46:00Z,2022-01-01T15:04:56Z,A320,M,a73f82288988b79be490c6322f4c32ed,61,18,321,54748.000000
1,248760618,2022-01-01,f6f610e73002b8892a239a81321f7f1d,LEBL,Barcelona,ES,KMIA,Miami,US,2022-01-01T09:55:00Z,2022-01-01T19:37:56Z,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,570,13,4193,185441.000000
2,248753824,2022-01-01,139670936660762c230ca92556ba842b,ESSA,Stockholm Arlanda,SE,KORD,Chicago O'Hare,US,2022-01-01T09:39:00Z,2022-01-01T19:08:13Z,A333,H,8be5c854fd664bcb97fb543339f74770,554,15,3770,230396.000000
3,248753852,2022-01-01,509dc61bb54fbab0e5406067c95603e2,LSZH,Zurich,CH,KPHL,Philadelphia,US,2022-01-01T11:04:00Z,2022-01-01T19:32:13Z,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,497,11,3607,157615.000000
4,248755934,2022-01-01,d0610d000dcf26b1d7bba8103ecc393d,EIDW,Dublin,IE,EGLL,London Heathrow,GB,2022-01-01T12:36:00Z,2022-01-01T13:44:32Z,A21N,M,a73f82288988b79be490c6322f4c32ed,55,14,305,70318.447226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369008,258058361,2022-12-31,85ee68e5b7b5acf24ba00d1318eca1e8,LFPG,Paris Charles de Gaulle,FR,KMIA,Miami,US,2022-12-31T09:38:00Z,2022-12-31T19:03:48Z,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,545,21,4046,163438.000000
369009,258071247,2022-12-31,570cf7d5ebbd691bcba63e7466607da7,LTFM,iGA Istanbul,TR,EDDB,Berlin Brandenburg,DE,2022-12-31T09:27:00Z,2022-12-31T12:29:41Z,A21N,M,6351ec1b849adacc0cbb3b1313d8d39b,158,25,946,78707.000000
369010,258059152,2022-12-31,5a7e43e4f981539ae3d3b1cb31591b7c,EDDL,Dusseldorf,DE,EIDW,Dublin,IE,2022-12-31T09:52:00Z,2022-12-31T11:41:51Z,A320,M,a73f82288988b79be490c6322f4c32ed,99,11,522,62942.750000
369011,258072276,2022-12-31,a1c078516f9f9e90cacec61854cad45b,LFPG,Paris Charles de Gaulle,FR,EIDW,Dublin,IE,2022-12-31T09:37:00Z,2022-12-31T11:13:10Z,A21N,M,a73f82288988b79be490c6322f4c32ed,84,12,466,72611.161024
369012,258069969,2022-12-31,6c98fcaa191dec632b87b46511f1d2da,LEMD,Madrid Barajas,ES,KJFK,New York JFK,US,2022-12-31T09:38:00Z,2022-12-31T17:26:35Z,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,453,16,3213,195373.000000

In [5]:
df

,flight_id,timestamp,latitude,longitude,altitude,groundspeed,track,vertical_rate,icao24,u_component_of_wind,v_component_of_wind,temperature,specific_humidity
0,248763775,2022-01-01 18:14:38+00:00,30.898407,31.240270,38000.0,429.0,350.888643,-64.0,248763775,8.754636,-13.070078,221.819618,0.000008
1,248763775,2022-01-01 18:14:39+00:00,30.909615,31.238251,38000.0,429.0,351.020434,128.0,248763775,8.696749,-13.106524,221.794782,0.000008
2,248763775,2022-01-01 18:14:40+00:00,30.909615,31.238251,38000.0,429.0,351.020434,128.0,248763775,8.697087,-13.107184,221.794700,0.000008
3,248763775,2022-01-01 18:14:41+00:00,30.909615,31.238251,38000.0,429.0,351.020434,128.0,248763775,8.697424,-13.107845,221.794618,0.000008
4,248763775,2022-01-01 18:14:42+00:00,30.909615,31.238251,38000.0,429.0,351.020434,128.0,248763775,8.697762,-13.108505,221.794536,0.000008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11862458,248772010,2022-01-02 01:59:55+00:00,44.065750,-58.601074,40975.0,543.0,76.040526,-64.0,248772010,49.665934,-31.158741,210.208665,0.000013
11862459,248772010,2022-01-02 01:59:56+00:00,44.065750,-58.601074,40975.0,543.0,76.040526,-64.0,248772010,49.665919,-31.158539,210.208654,0.000013
11862460,248772010,2022-01-02 01:59:57+00:00,44.065750,-58.601074,40975.0,543.0,76.040526,-64.0,248772010,49.665905,-31.158336,210.208643,0.000013
11862461,248772010,2022-01-02 01:59:58+00:00,44.065750,-58.601074,40975.0,543.0,76.040526,-64.0,248772010,49.665890,-31.158134,210.208632,0.000013
11862462,248772010,2022-01-02 01:59:59+00:00,44.065750,-58.601074,40975.0,543.0,76.040526,-64.0,248772010,49.665875,-31.157932,210.208621,0.000013

### Barometric Formula:

The air pressure $P$ at altitude $h$ is given by:

$$
P(h) = P_0 \cdot \exp\left( \frac{-Mgh}{RT} \right)
$$

Where:

- $P(h)$ is the pressure at altitude $h$,
- $P_0$ is the pressure at sea level (standard pressure: 101325 Pa),
- $M$ is the molar mass of Earth's air (approximately $0.029 \, \text{kg/mol}$),
- $g$ is the acceleration due to gravity $(9.81 \, \text{m/s}^2)$,
- $h$ is the altitude (in meters),
- $R$ is the universal gas constant $(8.314 \, \text{J/(mol·K)})$,
- $T$ is the temperature at altitude $h$ (in Kelvin).

### Air Density Formula:

The air density $rho$ is given by the ideal gas law:

$$
\rho = \frac{P}{R_s T}
$$

Where:
- $P$ is the pressure at altitude $h$,
- $R_s$ is the specific gas constant for dry air (approximately $287.05 \, \text{J/(kg·K)}$),
- $T$ is the temperature in Kelvin.

### Combined Formula for Air Density:

$$
\rho(h) = \frac{P_0 \cdot \exp\left( \frac{-Mgh}{RT} \right)}{R_s T}
$$

In [6]:
# Constants
p0 = 101325  # Pressure at sea level (Pa)
T0 = 288.15  # Standard temperature at sea level (K)
g = 9.80665  # Acceleration due to gravity (m/s²)
L = 0.0065  # Temperature lapse rate (K/m)
R = 8.3144598  # Universal gas constant (J/(mol·K))
M = 0.0289644  # Molar mass of Earth's air (kg/mol)
R_air = 287.05  # Specific gas constant for dry air (J/(kg·K))
C_L = 0.5  # Approximate lift coefficient (this can vary, but 0.5 is a reasonable starting point for climb)

In [7]:
# Function to calculate air density with humidity
def air_density_with_humidity(altitude, temperature, specific_humidity):
    temperature_kelvin = temperature + 273.15
    
    # Calculate pressure at altitude using barometric formula
    pressure = p0 * (1 - (L * altitude) / T0) ** (g * M / (R * L))
    
    # Calculate partial pressure of water vapor (e) using specific humidity
    e = (specific_humidity * pressure) / (0.622 + specific_humidity)
    
    # Calculate virtual temperature (T_v)
    virtual_temperature = temperature_kelvin * (1 + 0.61 * specific_humidity)
    
    # Calculate air density using the virtual temperature
    density = pressure / (R_air * virtual_temperature)
    
    return density

## True Air speed

In [8]:
# Function to calculate true airspeed with altitude-based wind components
def calculate_true_airspeed(groundspeed, u_wind, v_wind):
    true_airspeed = np.sqrt((groundspeed + u_wind)**2 + v_wind**2)
    return true_airspeed

## Drag Force

$$ F_d = \frac{1}2. ρ.𝑣^2.C_d.𝐴$$

where:

- 𝑣 = true airspeed
- $𝐶_d$ = drag coefficient (approximated from aircraft type)
- 𝐴 = wing area

In [9]:
# Function to estimate the lift coefficient based on aerodynamic principles (without weight)
def estimate_lift_coefficient(air_density, true_airspeed, wing_area):
    # We can't directly calculate lift force without weight, so we'll assume a reasonable lift coefficient range
    # and base our estimates on airspeed, air density, and wing area
    lift_coefficient = 0.5 * air_density * true_airspeed**2 * wing_area  # Placeholder estimate
    return lift_coefficient

In [10]:
# Adding estimated lift coefficient to the dataset (without weight)
def add_lift_coefficient(df,aircraft_data):
    lift_coefficients = []
    
    for index, row in df.iterrows():
        altitude = row['altitude']  # in meters
        temperature = row['temperature']  # in °C
        specific_humidity = row['specific_humidity']  # as a ratio (e.g., 0.003)
        groundspeed = row['groundspeed']  # in m/s
        u_wind = row['u_component_of_wind']  # in m/s
        v_wind = row['v_component_of_wind']  # in m/s
        aircraft_type = row['aircraft_type']  # e.g., 'B737', 'A320'
        
        # Get wing area for the aircraft type
        if aircraft_type in aircraft_data:
            wing_area = aircraft_data[aircraft_type]['wing_area']
        else:
            continue  # Skip rows where aircraft type is unknown

        # Calculate true airspeed
        true_airspeed = calculate_true_airspeed(groundspeed, u_wind, v_wind)
        
        # Calculate air density
        air_density = calculate_air_density(altitude, temperature, specific_humidity)
        
        # Estimate the lift coefficient (without weight)
        lift_coefficient = estimate_lift_coefficient(air_density, true_airspeed, wing_area)
        lift_coefficients.append(lift_coefficient)

    df['lift_coefficient'] = lift_coefficients
    return df

In [11]:
aircraft_data = {
    'B737': {'wing_area': 124.6},  # Boeing 737 example wing area in m²
    'A320': {'wing_area': 122.6},  # Airbus A320 example wing area in m²
}

wing_area = prop.aircraft("A320")['wing']['area']

124

In [55]:
aircarfts_type = challenge_df['aircraft_type'].unique()
np.array(sorted(aircarfts_type))

array(['A20N', 'A21N', 'A310', 'A319', 'A320', 'A321', 'A332', 'A333',
       'A343', 'A359', 'AT76', 'B38M', 'B39M', 'B737', 'B738', 'B739',
       'B752', 'B763', 'B772', 'B773', 'B77W', 'B788', 'B789', 'BCS1',
       'BCS3', 'C56X', 'CRJ9', 'E190', 'E195', 'E290'], dtype='<U4')

In [53]:
np.array(prop.available_aircraft())

array(['a19n', 'a20n', 'a21n', 'a318', 'a319', 'a320', 'a321', 'a332',
       'a333', 'a343', 'a359', 'a388', 'b37m', 'b38m', 'b39m', 'b3xm',
       'b734', 'b737', 'b738', 'b739', 'b744', 'b748', 'b752', 'b763',
       'b772', 'b773', 'b77w', 'b788', 'b789', 'c550', 'e145', 'e170',
       'e190', 'e195', 'e75l', 'glf6'], dtype='<U4')

In [49]:
prop.aircraft(aircarfts_type[0])
y = [ prop.aircraft(x) for x in aircarfts_type if x in prop.available_aircraft()]
y

[]

In [52]:
prop.aircraft("a320")

{'aircraft': 'Airbus A320',
 'mtow': 78000,
 'mlw': 66000,
 'oew': 42600,
 'mfc': 24210,
 'vmo': 350,
 'mmo': 0.82,
 'ceiling': 12500,
 'pax': {'max': 180, 'low': 140, 'high': 170},
 'fuselage': {'length': 37.57, 'height': 4.14, 'width': 3.95},
 'wing': {'area': 124, 'span': 35.8, 'mac': 4.1935, 'sweep': 25, 't/c': None},
 'flaps': {'type': 'single-slotted',
  'area': 21.1,
  'bf/b': 0.78,
  'lambda_f': 0.9,
  'cf/c': 0.176,
  'Sf/S': 0.17},
 'cruise': {'height': 11000, 'mach': 0.78},
 'engine': {'type': 'turbofan',
  'mount': 'wing',
  'number': 2,
  'default': 'CFM56-5B4',
  'options': {'A320-111': 'CFM56-5-A1',
   'A320-211': 'CFM56-5-A1',
   'A320-212': 'CFM56-5A3',
   'A320-214': 'CFM56-5B4',
   'A320-215': 'CFM56-5B5',
   'A320-216': 'CFM56-5B6',
   'A320-231': 'V2500-A1',
   'A320-232': 'V2527-A5',
   'A320-233': 'V2527E-A5'}},
 'drag': {'cd0': 0.018, 'k': 0.039, 'e': 0.799, 'gears': 0.017},
 'fuel': {'engine': 'CFM56-5B4/P', 'fuel_coef': 2.65942225},
 'limits': {'MTOW': 78000,
  'MLW': 66000,
  'OEW': 42600,
  'MFC': 24210,
  'VMO': 350,
  'MMO': 0.82,
  'ceiling': 12500}}